In [1]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from pathlib import Path

%matplotlib inline

In [2]:
load_dotenv()

True

# Joe's Info

In [3]:
# Create paths to the files
aapl_path = Path("../Performance_Data/AAPL.csv")
abnb_path = Path("../Performance_Data/ABNB.csv")
ai_path = Path("../Performance_Data/AI.csv")
amc_path = Path("../Performance_Data/AMC.csv")
an_path = Path("../Performance_Data/AN.csv")
arkf_path = Path("../Performance_Data/ARKF.csv")
cde_path = Path("../Performance_Data/CDE.csv")
fcx_path = Path("../Performance_Data/FCX.csv")
hl_path = Path("../Performance_Data/HL.csv")
jmia_path = Path("../Performance_Data/JMIA.csv")
mcfe_path = Path("../Performance_Data/MCFE.csv")
mgni_path = Path("../Performance_Data/MGNI.csv")
nio_path = Path("../Performance_Data/NIO.csv")
pep_path = Path("../Performance_Data/PEP.csv")
pltr_path = Path("../Performance_Data/PLTR.csv")
plug_path = Path("../Performance_Data/PLUG.csv")
pypl_path = Path("../Performance_Data/PYPL.csv")
sfix_path = Path("../Performance_Data/SFIX.csv")
sndl_path = Path("../Performance_Data/SNDL.csv")
upst_path = Path("../Performance_Data/UPST.csv")
znga_path = Path("../Performance_Data/ZNGA.csv")

# Reading the csv into a dataframe using pandas
aapl_df = pd.read_csv(aapl_path)
aapl_df = aapl_df.rename(columns={"Close":"AAPL"})
aapl_df.head()

# Reading the csv into a dataframe using pandas
abnb_df = pd.read_csv(abnb_path)
abnb_df = abnb_df.rename(columns={"Close":"ABNB"})
abnb_df.head()

# Reading the csv into a dataframe using pandas
ai_df = pd.read_csv(ai_path)
ai_df = ai_df.rename(columns={"Close":"AI"})
ai_df.head()

# Reading the csv into a dataframe using pandas
amc_df = pd.read_csv(amc_path)
amc_df = amc_df.rename(columns={"Close":"AMC"})
amc_df.head()

# Reading the csv into a dataframe using pandas
an_df = pd.read_csv(an_path)
an_df = an_df.rename(columns={"Close":"AN"})
an_df.head()

# Reading the csv into a dataframe using pandas
arkf_df = pd.read_csv(arkf_path)
arkf_df = arkf_df.rename(columns={"Close":"ARKF"})
arkf_df.head()

# Reading the csv into a dataframe using pandas
cde_df = pd.read_csv(cde_path)
cde_df = cde_df.rename(columns={"Close":"CDE"})
cde_df.head()

# Reading the csv into a dataframe using pandas
fcx_df = pd.read_csv(fcx_path)
fcx_df = fcx_df.rename(columns={"Close":"FCX"})
fcx_df.head()

# Reading the csv into a dataframe using pandas
hl_df = pd.read_csv(hl_path)
hl_df = hl_df.rename(columns={"Close":"HL"})
hl_df.head()

# Reading the csv into a dataframe using pandas
jmia_df = pd.read_csv(jmia_path)
jmia_df = jmia_df.rename(columns={"Close":"JMIA"})
jmia_df.head()

# Reading the csv into a dataframe using pandas
mcfe_df = pd.read_csv(mcfe_path)
mcfe_df = mcfe_df.rename(columns={"Close":"MCFE"})
mcfe_df.head()

# Reading the csv into a dataframe using pandas
mgni_df = pd.read_csv(mgni_path)
mgni_df = mgni_df.rename(columns={"Close":"MGNI"})
mgni_df.head()

# Reading the csv into a dataframe using pandas
nio_df = pd.read_csv(nio_path)
nio_df = nio_df.rename(columns={"Close":"NIO"})
nio_df.head()

# Reading the csv into a dataframe using pandas
pep_df = pd.read_csv(pep_path)
pep_df = pep_df.rename(columns={"Close":"PEP"})
pep_df.head()

# Reading the csv into a dataframe using pandas
pltr_df = pd.read_csv(pltr_path)
pltr_df = pltr_df.rename(columns={"Close":"PLTR"}).drop(columns="Unnamed: 2",axis=1)
pltr_df.head()

# Reading the csv into a dataframe using pandas
plug_df = pd.read_csv(plug_path)
plug_df = plug_df.rename(columns={"Close":"PLUG"})
plug_df.head()

# Reading the csv into a dataframe using pandas
pypl_df = pd.read_csv(pypl_path)
pypl_df = pypl_df.rename(columns={"Close":"PYPL"})
pypl_df.head()

# Reading the csv into a dataframe using pandas
sfix_df = pd.read_csv(sfix_path)
sfix_df = sfix_df.rename(columns={"Close":"SFIX"})
sfix_df.head()

# Reading the csv into a dataframe using pandas
sndl_df = pd.read_csv(sndl_path)
sndl_df = sndl_df.rename(columns={"Close":"SNDL"})
sndl_df.head()

# Reading the csv into a dataframe using pandas
upst_df = pd.read_csv(upst_path)
upst_df = upst_df.rename(columns={"Close":"UPST"})
upst_df.head()

# Reading the csv into a dataframe using pandas
znga_df = pd.read_csv(znga_path)
znga_df = znga_df.rename(columns={"Close":"ZNGA"})
znga_df.head()

# Convert date strings into datetime objects and set the datetime as the index
aapl_df.set_index(pd.to_datetime(aapl_df["Date"], infer_datetime_format=True), inplace=True)
aapl_df.head()

abnb_df.set_index(pd.to_datetime(abnb_df["Date"], infer_datetime_format=True), inplace=True)
abnb_df.head()

ai_df.set_index(pd.to_datetime(ai_df["Date"], infer_datetime_format=True), inplace=True)
ai_df.head()

amc_df.set_index(pd.to_datetime(amc_df["Date"], infer_datetime_format=True), inplace=True)
amc_df.head()

an_df.set_index(pd.to_datetime(an_df["Date"], infer_datetime_format=True), inplace=True)
an_df.head()

arkf_df.set_index(pd.to_datetime(arkf_df["Date"], infer_datetime_format=True), inplace=True)
arkf_df.head()

cde_df.set_index(pd.to_datetime(cde_df["Date"], infer_datetime_format=True), inplace=True)
cde_df.head()

fcx_df.set_index(pd.to_datetime(fcx_df["Date"], infer_datetime_format=True), inplace=True)
fcx_df.head()

hl_df.set_index(pd.to_datetime(hl_df["Date"], infer_datetime_format=True), inplace=True)
hl_df.head()

jmia_df.set_index(pd.to_datetime(jmia_df["Date"], infer_datetime_format=True), inplace=True)
jmia_df.head()

mcfe_df.set_index(pd.to_datetime(mcfe_df["Date"], infer_datetime_format=True), inplace=True)
mcfe_df.head()

mgni_df.set_index(pd.to_datetime(mgni_df["Date"], infer_datetime_format=True), inplace=True)
mgni_df.head()

nio_df.set_index(pd.to_datetime(nio_df["Date"], infer_datetime_format=True), inplace=True)
nio_df.head()

pep_df.set_index(pd.to_datetime(pep_df["Date"], infer_datetime_format=True), inplace=True)
pep_df.head()

pltr_df.set_index(pd.to_datetime(pltr_df["Date"], infer_datetime_format=True), inplace=True)
pltr_df.head()

plug_df.set_index(pd.to_datetime(plug_df["Date"], infer_datetime_format=True), inplace=True)
plug_df.head()

pypl_df.set_index(pd.to_datetime(pypl_df["Date"], infer_datetime_format=True), inplace=True)
pypl_df.head()

sfix_df.set_index(pd.to_datetime(sfix_df["Date"], infer_datetime_format=True), inplace=True)
sfix_df.head()

sndl_df.set_index(pd.to_datetime(sndl_df["Date"], infer_datetime_format=True), inplace=True)
sndl_df.head()

upst_df.set_index(pd.to_datetime(upst_df["Date"], infer_datetime_format=True), inplace=True)
upst_df.head()

znga_df.set_index(pd.to_datetime(znga_df["Date"], infer_datetime_format=True), inplace=True)
znga_df.head()

# Drop extra columns
aapl_df.drop(columns=["Date"], inplace=True)
abnb_df.drop(columns=["Date"], inplace=True)
ai_df.drop(columns=["Date"], inplace=True)
amc_df.drop(columns=["Date"], inplace=True)
an_df.drop(columns=["Date"], inplace=True)
arkf_df.drop(columns=["Date"], inplace=True)
cde_df.drop(columns=["Date"], inplace=True)
fcx_df.drop(columns=["Date"], inplace=True)
hl_df.drop(columns=["Date"], inplace=True)
jmia_df.drop(columns=["Date"], inplace=True)
mcfe_df.drop(columns=["Date"], inplace=True)
mgni_df.drop(columns=["Date"], inplace=True)
nio_df.drop(columns=["Date"], inplace=True)
pep_df.drop(columns=["Date"], inplace=True)
pltr_df.drop(columns=["Date"], inplace=True)
plug_df.drop(columns=["Date"], inplace=True)
pypl_df.drop(columns=["Date"], inplace=True)
sfix_df.drop(columns=["Date"], inplace=True)
sndl_df.drop(columns=["Date"], inplace=True)
upst_df.drop(columns=["Date"], inplace=True)
znga_df.drop(columns=["Date"], inplace=True)

#Calculate daily returns
aapl_returns = aapl_df.pct_change()
abnb_returns = abnb_df.pct_change()
ai_returns = ai_df.pct_change()
amc_returns = amc_df.pct_change()
an_returns = an_df.pct_change()
arkf_returns = arkf_df.pct_change()
cde_returns = cde_df.pct_change()
fcx_returns = fcx_df.pct_change()
hl_returns = hl_df.pct_change()
jmia_returns = jmia_df.pct_change()
mcfe_returns = mcfe_df.pct_change()
mgni_returns = mgni_df.pct_change()
nio_returns = nio_df.pct_change()
pep_returns = pep_df.pct_change()
pltr_returns = pltr_df.pct_change()
plug_returns = plug_df.pct_change()
pypl_returns = pypl_df.pct_change()
sfix_returns = sfix_df.pct_change()
sndl_returns = sndl_df.pct_change()
upst_returns = upst_df.pct_change()
znga_returns = znga_df.pct_change()
#btc_returns = btc_df.pct_change()
#doge_returns = doge_df.pct_change()
#eth_returns = eth_df.pct_change()

# Combine stocks in Joe's portfolio
joes_stock_portfolio = pd.concat([aapl_returns, 
                                  abnb_returns, 
                                  ai_returns, 
                                  amc_returns, 
                                  an_returns, 
                                  arkf_returns, 
                                  cde_returns, 
                                  fcx_returns, 
                                  hl_returns, 
                                  jmia_returns, 
                                  mcfe_returns, 
                                  mgni_returns, 
                                  nio_returns, 
                                  pep_returns, 
                                  pltr_returns, 
                                  plug_returns,
                                  pypl_returns,
                                  sfix_returns,
                                  sndl_returns,
                                  upst_returns,
                                  znga_returns],
                                  axis="columns", join="inner")
joes_stock_portfolio.head()

# Larrys Stuff

In [4]:
#Paths


aa_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/AA-New.csv')
aapl_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/AAPL.csv')
ai_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/AI.csv')
amc_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/AMC.csv')
amrs_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/AMRS.csv')
amzn_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/AMZN.csv')
baba_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/BABA.csv')
botz_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/BOTZ.csv')
crwd_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/CRWD.csv')
dal_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/DAL.csv')
etsy_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/ETSY.csv')
fvrr_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/FVRR.csv')
hl_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/HL.csv')
jnj_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/JNJ.csv')
jbl_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/JBL.csv')
lmnd_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/LMND.csv')
luv_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/LUV.csv')
mbd_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/MBD.csv')
mgni_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/MGNI.csv')
nio_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/NIO-New.csv')
pfe_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/PFE-New.csv')
pltr_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/PLTR.csv')
pton_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/PTON.csv')
pypl_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/PYPL.csv')
rgen_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/RGEN.csv')
sq_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/SQ.csv')
xom_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/XOM-New.csv')
wix_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/WIX.csv')
znga_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/ZNGA-New.csv')

In [5]:
aa_data = pd.read_csv(aa_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
aapl_data = pd.read_csv(aapl_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
ai_data = pd.read_csv(ai_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
amc_data = pd.read_csv(amc_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
amrs_data = pd.read_csv(amrs_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
amzn_data = pd.read_csv(amzn_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
baba_data = pd.read_csv(baba_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
botz_data = pd.read_csv(botz_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
crwd_data = pd.read_csv(crwd_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
dal_data = pd.read_csv(dal_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
etsy_data = pd.read_csv(etsy_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
fvrr_data = pd.read_csv(fvrr_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
hl_data = pd.read_csv(hl_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
jnj_data = pd.read_csv(jnj_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
jbl_data = pd.read_csv(jbl_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
lmnd_data = pd.read_csv(lmnd_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
luv_data = pd.read_csv(luv_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
mbd_data = pd.read_csv(mbd_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
mgni_data = pd.read_csv(mgni_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
nio_data = pd.read_csv(nio_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
pfe_data = pd.read_csv(pfe_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
pltr_data = pd.read_csv(pltr_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
pton_data = pd.read_csv(pton_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
pypl_data = pd.read_csv(pypl_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
rgen_data = pd.read_csv(rgen_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
sq_data = pd.read_csv(sq_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
xom_data = pd.read_csv(xom_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
wix_data = pd.read_csv(wix_path,index_col="Date", parse_dates=True, infer_datetime_format=True)
znga_data = pd.read_csv(znga_path,index_col="Date", parse_dates=True, infer_datetime_format=True)

In [6]:
aa_close = aa_data['Close']
aapl_close = aapl_data['Close']
ai_close = ai_data['Close']
amc_close = amc_data['Close']
amrs_close = amrs_data['Close']
amzn_close = amzn_data['Close']
baba_close = baba_data['Close']
botz_close = botz_data['Close']
crwd_close = crwd_data['Close']
dal_close = dal_data['Close']
etsy_close = etsy_data['Close']
fvrr_close = fvrr_data['Close']
hl_close = hl_data['Close']
jbl_close = jbl_data['Close']
jnj_close = jnj_data['Close']
lmnd_close = lmnd_data['Close']
luv_close = luv_data['Close']
mbd_close = mbd_data['Close']
mgni_close = mgni_data['Close']
nio_close = nio_data['Close']
pfe_close = pfe_data['Close']
pltr_close = pltr_data['Close']
pton_close = pton_data['Close']
pypl_close = pypl_data['Close']
rgen_close = rgen_data['Close']
sq_close = sq_data['Close']
wix_close = wix_data['Close']
xom_close = xom_data['Close']
znga_close = znga_data['Close']

In [7]:
aa_daily_returns = pd.DataFrame(aa_close.pct_change())
aapl_daily_returns = pd.DataFrame(aapl_close.pct_change())
ai_daily_returns = pd.DataFrame(ai_close.pct_change())
amc_daily_returns = pd.DataFrame(amc_close.pct_change())
amrs_daily_returns = pd.DataFrame(amrs_close.pct_change())
amzn_daily_returns = pd.DataFrame(amzn_close.pct_change())
baba_daily_returns = pd.DataFrame(baba_close.pct_change())
botz_daily_returns = pd.DataFrame(botz_close.pct_change())
crwd_daily_returns = pd.DataFrame(crwd_close.pct_change())
dal_daily_returns = pd.DataFrame(dal_close.pct_change())
etsy_daily_returns = pd.DataFrame(etsy_close.pct_change())
fvrr_daily_returns = pd.DataFrame(fvrr_close.pct_change())
hl_daily_returns = pd.DataFrame(hl_close.pct_change())
jbl_daily_returns = pd.DataFrame(jbl_close.pct_change())
jnj_daily_returns = pd.DataFrame(jnj_close.pct_change())
lmnd_daily_returns = pd.DataFrame(lmnd_close.pct_change())
luv_daily_returns = pd.DataFrame(luv_close.pct_change())
mbd_daily_returns = pd.DataFrame(mbd_close.pct_change())
mgni_daily_returns = pd.DataFrame(mgni_close.pct_change())
nio_daily_returns = pd.DataFrame(nio_close.pct_change())
pfe_daily_returns = pd.DataFrame(pfe_close.pct_change())
pltr_daily_returns = pd.DataFrame(pltr_close.pct_change())
pton_daily_returns = pd.DataFrame(pton_close.pct_change())
pypl_daily_returns = pd.DataFrame(pypl_close.pct_change())
rgen_daily_returns = pd.DataFrame(rgen_close.pct_change())
sq_daily_returns = pd.DataFrame(sq_close.pct_change())
wix_daily_returns = pd.DataFrame(wix_close.pct_change())
xom_daily_returns = pd.DataFrame(xom_close.pct_change())
znga_daily_returns = pd.DataFrame(znga_close.pct_change())

In [8]:
#Renaming columns and combining dataframes



aa_daily_returns1 = aa_daily_returns.rename(columns={'Close': 'AA'})
aapl_daily_returns1 = aapl_daily_returns.rename(columns={'Close': 'AAPL'})
ai_daily_returns1 = ai_daily_returns.rename(columns={'Close': 'AI'})
amc_daily_returns1 = amc_daily_returns.rename(columns={'Close': 'AMC'})
amrs_daily_returns1 = amrs_daily_returns.rename(columns={'Close': 'AMRS'})
amzn_daily_returns1 = amzn_daily_returns.rename(columns={'Close': 'AMZN'})
baba_daily_returns1 = baba_daily_returns.rename(columns={'Close': 'BABA'})
botz_daily_returns1 = botz_daily_returns.rename(columns={'Close': 'BOTZ'})
crwd_daily_returns1 = crwd_daily_returns.rename(columns={'Close': 'CRWD'})
dal_daily_returns1 = dal_daily_returns.rename(columns={'Close': 'DAL'})
etsy_daily_returns1 = etsy_daily_returns.rename(columns={'Close': 'ETSY'})
fvrr_daily_returns1 = fvrr_daily_returns.rename(columns={'Close': 'FVRR'})
hl_daily_returns1 = hl_daily_returns.rename(columns={'Close': 'HL'})
jbl_daily_returns1 = jbl_daily_returns.rename(columns={'Close': 'JBL'})
jnj_daily_returns1 = jnj_daily_returns.rename(columns={'Close': 'JNJ'})
lmnd_daily_returns1 = lmnd_daily_returns.rename(columns={'Close': 'LMND'})
luv_daily_returns1 = luv_daily_returns.rename(columns={'Close': 'LUV'})
mbd_daily_returns1 = mbd_daily_returns.rename(columns={'Close': 'MBD'})
mgni_daily_returns1 = mgni_daily_returns.rename(columns={'Close': 'MGNI'})
nio_daily_returns1 = nio_daily_returns.rename(columns={'Close': 'NIO'})
pfe_daily_returns1 = pfe_daily_returns.rename(columns={'Close': 'PFE'})
pltr_daily_returns1 = pltr_daily_returns.rename(columns={'Close': 'PLTR'})
pton_daily_returns1 = pton_daily_returns.rename(columns={'Close': 'PTON'})
pypl_daily_returns1 = pypl_daily_returns.rename(columns={'Close': 'PYPL'})
rgen_daily_returns1 = rgen_daily_returns.rename(columns={'Close': 'RGEN'})
sq_daily_returns1 = sq_daily_returns.rename(columns={'Close': 'SQ'})
wix_daily_returns1 = wix_daily_returns.rename(columns={'Close': 'WIX'})
xom_daily_returns1 = xom_daily_returns.rename(columns={'Close': 'XOM'})
znga_daily_returns1 = znga_daily_returns.rename(columns={'Close': 'ZNGA'})
larry_portfolio_df = pd.concat([aa_daily_returns1, aapl_daily_returns1, ai_daily_returns1, amc_daily_returns1, amrs_daily_returns1, amzn_daily_returns1, baba_daily_returns1, botz_daily_returns1, crwd_daily_returns1, dal_daily_returns1, etsy_daily_returns1, fvrr_daily_returns1, hl_daily_returns1, jbl_daily_returns1, jnj_daily_returns1, lmnd_daily_returns1, luv_daily_returns1, mbd_daily_returns1, mgni_daily_returns1, nio_daily_returns1, pltr_daily_returns1, pton_daily_returns1, pypl_daily_returns1, rgen_daily_returns1, sq_daily_returns1, wix_daily_returns1, xom_daily_returns1, znga_daily_returns1], axis = 'columns', join = 'inner')
larry_portfolio_df.head()

,AA,AAPL,AI,AMC,AMRS,AMZN,BABA,BOTZ,CRWD,DAL,...,MGNI,NIO,PLTR,PTON,PYPL,RGEN,SQ,WIX,XOM,ZNGA
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-09 16:00:00,-0.024903,-0.020904,NaN,-0.030151,-0.057927,-0.023004,-0.008606,-0.006182,-0.063725,-0.007074,...,-0.042806,-0.054768,-0.068555,-0.063087,-0.028303,-0.008650,-0.028027,-0.011546,0.013258,-0.024887
2020-12-10 16:00:00,0.057244,0.011989,0.405557,0.059585,0.038835,-0.000873,0.004056,0.000000,0.083168,0.012111,...,0.049030,0.027494,0.015396,0.064988,0.021537,0.004195,0.049314,0.094695,0.028271,0.004640
2020-12-11 16:00:00,-0.048730,-0.006735,-0.080154,-0.041565,0.087227,0.004814,-0.001246,-0.003733,-0.022612,-0.020648,...,-0.002568,-0.071650,0.005917,-0.007543,-0.005944,0.007631,-0.003038,-0.019759,-0.004772,0.003464
2020-12-14 16:00:00,-0.047285,-0.005147,-0.144004,-0.186224,-0.065903,0.013012,-0.032169,0.007181,-0.012051,-0.025156,...,-0.034501,-0.023821,0.001471,0.041076,0.031440,0.017634,-0.003370,-0.020532,-0.036073,0.002301
2020-12-15 16:00:00,0.018842,0.050090,-0.003517,-0.103448,0.049080,0.002582,-0.003593,0.010539,0.006502,0.028508,...,-0.010667,0.061493,-0.029736,0.048150,0.003669,0.008257,0.019133,0.000000,0.019422,0.047072

In [9]:
weights = (
    {AMRS == 1,
    JBL = 6.35,
    ETSY = .896,
    FVRR = 1.14,
    HL = 1,
    BAND = 3.02,
    JNJ = .692,
    PLTR = 13,
    BOTZ = 3.54,
    CRWD = 3.4,
    XOM = 12.01,
    SQ = 4.98,
    MSFT = 9.71,
    NIO = 18,
    PFE = 12.01,
    VTRS = 1,
    LMND = 3.2,
    TMDM = 3.32,
    AI = 11.22,
    LUV = 10,
    DAL = 10,
    PYPL = 4.8232,
    MGNI = 10,
    WIX = 3,
    MDB = 1,
    AAXN = 4,
    RGEN = 3,
    ZNGA = 40,
    AA = 20}
)

###ZNGA, AA, NIO, PFE, XOM are the 5 stocks with most shares in portfolio - Larry

### BABA, PTON, GM, TACO, AUY

SyntaxError: invalid syntax (<ipython-input-9-62f3c5ae245b>, line 3)

# Larrys Top 5

In [10]:
larrys_top_5 = pd.concat([aa_daily_returns1, nio_daily_returns1, pfe_daily_returns1, xom_daily_returns1, znga_daily_returns1], axis="columns")

In [11]:
larrys_top_5

                           AA       NIO       PFE       XOM      ZNGA
Date
2018-05-24 16:00:00       NaN       NaN       NaN       NaN       NaN
2018-05-25 16:00:00 -0.024822       NaN -0.005882 -0.019434  0.007246
2018-05-29 16:00:00 -0.013144       NaN  0.000592 -0.003684  0.002398
2018-05-30 16:00:00  0.026216       NaN  0.009758  0.039276  0.033493
2018-05-31 16:00:00 -0.009683       NaN -0.003221 -0.003190  0.000000
...                       ...       ...       ...       ...       ...
2021-05-17 16:00:00  0.024685  0.011670  0.002249  0.023367 -0.008798
2021-05-18 16:00:00 -0.020649  0.011239 -0.001496 -0.028300  0.005917
2021-05-19 16:00:00 -0.092118 -0.021351 -0.005493 -0.023995  0.016667
2021-05-20 16:00:00 -0.009677  0.026001  0.007281 -0.002374  0.008679
2021-05-21 16:00:00  0.008934 -0.007865 -0.004237  0.001360 -0.013384

[754 rows x 5 columns]

# Joe's Top 5
## In this section; we combined Joe's top 5 stocks (Stocks with most shares) into a single dataFrame, calculated the daily returns, and 
## compared the results of the EFTS and the S&P 500.
## -Calculate the weighted returns for the portfolio assuming an equal spread across all stocks.
## -Rerun the performance and risk analysis with this new portfolio to see it compares to the others.
## -Include the correlation analysis to see which stocks, if any, are correlated.

In [12]:
gm_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/GM-Joe.csv')
gm_df = pd.read_csv(gm_path)
gm_df.head()

                 Date  Close
0  5/24/2018 16:00:00  38.39
1  5/25/2018 16:00:00  38.30
2  5/29/2018 16:00:00  37.38
3  5/30/2018 16:00:00  37.83
4  5/31/2018 16:00:00  42.70

In [13]:
taco_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/TACO-Joe.csv')
taco_df = pd.read_csv(taco_path)
taco_df.head()

                 Date  Close
0  5/24/2018 16:00:00  11.56
1  5/25/2018 16:00:00  12.06
2  5/29/2018 16:00:00  11.90
3  5/30/2018 16:00:00  12.21
4  5/31/2018 16:00:00  12.21

In [14]:
auy_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/AUY-Joe.csv')
auy_df = pd.read_csv(auy_path)
auy_df.head()

                 Date  Close
0  5/24/2018 16:00:00   2.90
1  5/25/2018 16:00:00   2.87
2  5/29/2018 16:00:00   2.87
3  5/30/2018 16:00:00   2.91
4  5/31/2018 16:00:00   2.91

In [15]:
work_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/WORK-Joe.csv')
work_df = pd.read_csv(work_path)
work_df.head()

                 Date  Close
0  6/20/2019 16:00:00  38.62
1  6/21/2019 16:00:00  37.22
2  6/24/2019 16:00:00  35.76
3  6/25/2019 16:00:00  35.20
4  6/26/2019 16:00:00  37.19

In [16]:
aapl_path = Path('/Users/Jamison/Project Fi/Project-FI-Data-main/Performance_Data/Larry_portfolio/AAPL-Joe.csv')
aapl_df = pd.read_csv(aapl_path)
aapl_df.head()

                 Date  Close
0  5/24/2018 16:00:00  47.04
1  5/25/2018 16:00:00  47.15
2  5/29/2018 16:00:00  46.98
3  5/30/2018 16:00:00  46.88
4  5/31/2018 16:00:00  46.72

In [17]:
# Combine all stocks into a single dataframe
all_df = pd.concat((gm_df, taco_df, auy_df, work_df, aapl_df), axis="columns", join="inner")
all_df.head()

,Date,Close,Date,Close,Date,Close,Date,Close,Date,Close
0,5/24/2018 16:00:00,38.39,5/24/2018 16:00:00,11.56,5/24/2018 16:00:00,2.90,6/20/2019 16:00:00,38.62,5/24/2018 16:00:00,47.04
1,5/25/2018 16:00:00,38.30,5/25/2018 16:00:00,12.06,5/25/2018 16:00:00,2.87,6/21/2019 16:00:00,37.22,5/25/2018 16:00:00,47.15
2,5/29/2018 16:00:00,37.38,5/29/2018 16:00:00,11.90,5/29/2018 16:00:00,2.87,6/24/2019 16:00:00,35.76,5/29/2018 16:00:00,46.98
3,5/30/2018 16:00:00,37.83,5/30/2018 16:00:00,12.21,5/30/2018 16:00:00,2.91,6/25/2019 16:00:00,35.20,5/30/2018 16:00:00,46.88
4,5/31/2018 16:00:00,42.70,5/31/2018 16:00:00,12.21,5/31/2018 16:00:00,2.91,6/26/2019 16:00:00,37.19,5/31/2018 16:00:00,46.72

In [18]:
gm_df = gm_df.set_index("Date").rename(columns={"Close":"GM"})
gm_df.head()

                       GM
Date
5/24/2018 16:00:00  38.39
5/25/2018 16:00:00  38.30
5/29/2018 16:00:00  37.38
5/30/2018 16:00:00  37.83
5/31/2018 16:00:00  42.70

In [19]:
gm_return = gm_df.pct_change()

In [20]:
taco_df = taco_df.set_index("Date").rename(columns={"Close":"TACO"})
taco_df.head()

                     TACO
Date
5/24/2018 16:00:00  11.56
5/25/2018 16:00:00  12.06
5/29/2018 16:00:00  11.90
5/30/2018 16:00:00  12.21
5/31/2018 16:00:00  12.21

In [21]:
taco_return = taco_df.pct_change()

In [22]:
auy_df = auy_df.set_index("Date").rename(columns={"Close":"AUY"})
auy_df.head()

                     AUY
Date
5/24/2018 16:00:00  2.90
5/25/2018 16:00:00  2.87
5/29/2018 16:00:00  2.87
5/30/2018 16:00:00  2.91
5/31/2018 16:00:00  2.91

In [23]:
auy_returns = auy_df.pct_change()

In [24]:
work_df = work_df.set_index("Date").rename(columns={"Close":"WORK"})
work_df.head()

                     WORK
Date
6/20/2019 16:00:00  38.62
6/21/2019 16:00:00  37.22
6/24/2019 16:00:00  35.76
6/25/2019 16:00:00  35.20
6/26/2019 16:00:00  37.19

In [25]:
work_returns = work_df.pct_change()

In [26]:
aapl_df = aapl_df.set_index("Date").rename(columns={"Close":"AAPL"})
aapl_df.head()

                     AAPL
Date
5/24/2018 16:00:00  47.04
5/25/2018 16:00:00  47.15
5/29/2018 16:00:00  46.98
5/30/2018 16:00:00  46.88
5/31/2018 16:00:00  46.72

In [27]:
aapl_returns = aapl_df.pct_change()

In [43]:
joes_daily_returns = pd.concat([gm_return, taco_return, auy_returns, work_returns, aapl_returns], axis='columns', join='inner')

In [44]:
## joes_daily_returns = joes_daily_returns.()

In [45]:
joes_daily_returns

                          GM      TACO       AUY      WORK      AAPL
Date
6/20/2019 16:00:00  0.004894  0.038361  0.089686  0.000000  0.008086
6/21/2019 16:00:00 -0.001082  0.018472  0.012346 -0.036251 -0.003409
6/24/2019 16:00:00  0.001083  0.021434  0.028455 -0.039226 -0.001006
6/25/2019 16:00:00  0.019481  0.008071 -0.023715 -0.015660 -0.015307
6/26/2019 16:00:00  0.011943 -0.022418  0.008097  0.056534  0.021681
...                      ...       ...       ...       ...       ...
5/17/2021 16:00:00  0.000714 -0.005859  0.048828 -0.003631 -0.009259
5/18/2021 16:00:00 -0.002677  0.000982 -0.007449  0.001458 -0.011246
5/19/2021 16:00:00 -0.006441  0.006869 -0.024390  0.011402 -0.001282
5/20/2021 16:00:00 -0.000360  0.003899 -0.001923  0.018470  0.021012
5/21/2021 16:00:00  0.021798  0.000971  0.003854  0.002826 -0.014767

[485 rows x 5 columns]

In [46]:
joe_and_larrys_returns = pd.concat([larrys_top_5, joes_daily_returns], axis='columns')

In [47]:
joe_and_larrys_returns

,AA,NIO,PFE,XOM,ZNGA,GM,TACO,AUY,WORK,AAPL
Date,,,,,,,,,,
2018-05-24 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-25 16:00:00,-0.024822,NaN,-0.005882,-0.019434,0.007246,NaN,NaN,NaN,NaN,NaN
2018-05-29 16:00:00,-0.013144,NaN,0.000592,-0.003684,0.002398,NaN,NaN,NaN,NaN,NaN
2018-05-30 16:00:00,0.026216,NaN,0.009758,0.039276,0.033493,NaN,NaN,NaN,NaN,NaN
2018-05-31 16:00:00,-0.009683,NaN,-0.003221,-0.003190,0.000000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2021-05-17 16:00:00,0.024685,0.011670,0.002249,0.023367,-0.008798,NaN,NaN,NaN,NaN,NaN
2021-05-18 16:00:00,-0.020649,0.011239,-0.001496,-0.028300,0.005917,NaN,NaN,NaN,NaN,NaN
2021-05-19 16:00:00,-0.092118,-0.021351,-0.005493,-0.023995,0.016667,NaN,NaN,NaN,NaN,NaN
2021-05-20 16:00:00,-0.009677,0.026001,0.007281,-0.002374,0.008679,NaN,NaN,NaN,NaN,NaN
2021-05-21 16:00:00,0.008934,-0.007865,-0.004237,0.001360,-0.013384,NaN,NaN,NaN,NaN,NaN

Calculate the weighted returns for the portfolio assuming equal number of shares in each stock

In [48]:
## Set weights
weights = [1/2, 1/2]
## Calculate portfolio return
daily_returns_all = joes_daily_returns.pct_change()
## Display sample Data
daily_returns_all.head()

                           GM      TACO       AUY      WORK       AAPL
Date
6/20/2019 16:00:00        NaN       NaN       NaN       NaN        NaN
6/21/2019 16:00:00  -1.221140 -0.518472 -0.862346      -inf  -1.421591
6/24/2019 16:00:00  -2.001083  0.160384  1.304878  0.082083  -0.704876
6/25/2019 16:00:00  16.980519 -0.623456 -1.833427 -0.600778  14.215307
6/26/2019 16:00:00  -0.386943 -3.777582 -1.341430 -4.610106  -2.416418

Join Joe and Larrys top 5 to ARK and Vanguard S&P 500

In [49]:
final_data = pd.concat([ JOES LARRYS ARK SP500])
final_data.rename()
final_data.head()

ValueError: No objects to concatenate

In [50]:
## Only compare Dates where return data exists for all stocks (dropna's)
final_data.dropna(inplace=True)
final_data.isna().sum()
final_data.head()

Standardized annual deviation

In [ ]:
## Calculate the annualized STD
final_data.std() * np.sqrt(252)

Calculate & plot rolling std over a 21 day window

In [ ]:
## Calculate rolling std
final_data_rolling = final_data.rolling(window=21).std()
## Plot rstd
final_combined_data.rolling(window=21).std().plot(figsize=(20, 10))

Using the daily returns, calculate and visualize the sharpe ratios using a bar plot

In [ ]:
## Calculate the annualized sharpe ratio
final_combined_data_sharperatios = (final_combined_data.mean() * 252) / (final_combined_data.std() * np.sqrt(252))

In [ ]:
## Visualize sharpe ratio as a bar plot
final_combined_data_sharperatios = final_combined_data_sharperatios.plot(kind="bar")

Sortino Risk

In [51]:
def sortino_ratio(series, N, rf):
    mean = series.mean() * N -rf
    std_neg = series[series<0].std()*np.sqrt(N)
    return mean/std_neg